// Colors
$green-light: #7ed56f;
$green-medium: #55c57a;
$green-dark: #28b485;

$orange-light: #ffb900;
$orange-dark: #ff7730;

$blue-light: #2998ff;
$blue-dark: #5643fa;

$grey: #777;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-dark-1: #999;

$dark: #000;
$light: #fff;

// Fonts
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 8rem;
