.btn {
  &:link,
  &:visited {
    font-size: $default-font-size;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($dark, 0.3);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba($dark, 0.3);
  }

  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    border-radius: 10rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s;
  }

  &:hover::after {
    transform: scale(1.5);
    opacity: 0;
  }

  &--white {
    background-color: $light;
    color: $grey;

    &::after {
      background: $light;
    }
  }

  &--green {
    background-color: $green-medium;
    color: $light;

    &::after {
      background: $green-medium;
    }
  }

  &--animated {
    animation: moveFromBottom 2s ease-out 0.75s backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    cursor: pointer;
    font-size: $default-font-size;
    color: $green-medium;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $green-medium;
    padding: 0.3rem;
    transition: all 0.3s;
  }

  &:hover {
    background-color: $green-medium;
    color: $light;
    box-shadow: 0 1rem 2rem rgba($dark, 0.15);
    transform: translateY(-0.2rem);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($dark, 0.15);
    transform: translateY(0);
  }
}
